<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Web page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<h1 class="text-center">List of Rooms</h1>

<div class="container" id="app">

	<ol>Filter by building N° :
        <select v-model="buildingSelected">
			<option>all</option>
            <option v-for="buildingId in buildingIds" v-bind:id="buildingId">
                {{ buildingId }}
            </option>
        </select>
		<button v-on:click="getSomeRooms(buildingSelected)">Filter</button>
    </ol>
	
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Light Status</th>
			<th scope="col">Ringer Status</th>
            <th scope="col">Light Level</th>
            <th scope="col">Noise Level</th>
            <th scope="col">Switch Light</th>
            <th scope="col">Switch Ringer</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="room in rooms">
            <td scope="row">{{room.id}}</td>
            <td><div v-if="room.light.status == 'ON'"><img src="img/light-on.png"></div>
                <div v-else-if="room.light.status == 'OFF'"><img src="img/light-off.png"></div></td>
            <td><div v-if="room.noise.status == 'ON'"><img src="img/ringer-on.png"></div>
                <div v-else-if="room.noise.status == 'OFF'"><img src="img/ringer-off.png"></div></td>
			<td>{{room.light.level}}</td>
            <td>{{room.noise.level}}</td>
            <td><button v-on:click="switchLightAndPublish(room)"><img src="img/switch.png"></button></td>
            <td><button v-on:click="switchNoiseAndPublish(room)"><img src="img/switch.png"></button></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="./js/vue.js"></script>
<!--script src="https://unpkg.com/vue"></script-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="./js/mqtt.min.js.download"></script>
<script>
		


//----------------------------- DataBase API, using axios -----------------------------------//

// Stablish API url
var apiRooms =  'https://glacial-plateau-99461.herokuapp.com/api/rooms'; // 'http://localhost:8080/api/rooms'; // 
var apiBuildings =  'https://glacial-plateau-99461.herokuapp.com/api/buildings'; // 'http://localhost:8080/api/buildings'; //
// Define API methods
function APIswitchLight(roomId) {
	return axios.post(apiRooms + "/"+roomId+"/switch-light/all");
}
function APIswitchNoise(roomId) {
	return axios.post(apiRooms + "/"+roomId+"/switch-ringer/all"); 
}
function APIgetAllRooms(){
	return axios.get(apiRooms);
}
function APIgetRooms(buildingId){
	return axios.get(apiBuildings + "/" + buildingId);
}
function APIgetBuildingIds(){
	return axios.get(apiBuildings + "/ids"); 
}

//----------------------------- mqtt client for state -----------------------------------//

// Topic = {origin}/state/{light|noise}/{id}
// Message = ON|OFF

// Create mqtt clientS 
var clientS = mqtt.connect("wss://ndtzubom:yGCB-nJ4kcOC@m23.cloudmqtt.com:34984")
clientS.subscribe("rp/state/#")
clientS.subscribe("a/state/#")
// Define publishing methods
function publishSwitch(lightOrNoise, roomId, currentStatus){
	switchOn = currentStatus == 'OFF' ? 'ON' : 'OFF';
	clientS.publish( "web/state/"+lightOrNoise+"/"+roomId, switchOn);
	console.log("Published: "+lightOrNoise+" in room id " + roomId + " needs to be switched" );
}
// Define callback method: 
clientS.on("message", function (topic, payload) {
	console.log("Message received by clientS: " , topic , new TextDecoder("utf-8").decode(payload));
	var info = topic.split("/");
	if (info[2] == "light"){
		app.switchLight(info[3]);
	}
	else if (info[2] == "noise"){
		app.switchNoise(info[3]);
	}
})

//----------------------------- VUE to control table -----------------------------------//
var app = new Vue({
	el: '#app',
	data: {
		buildingIds: [],
		buildingSelected: '',
		rooms: []
	},
	mounted(){
		var url = new URL(window.location.href);
		var bd = url.searchParams.get("bd");
		if (bd == null){
			APIgetAllRooms().then(result => {this.rooms = result.data});
		}else{
			APIgetRooms(buildingId).then(result => {this.rooms = result.data.rooms});
			buildingSelected = bd;
		}
		APIgetBuildingIds().then(result => {this.buildingIds = result.data});
	},
	methods: {
		switchLight: function (roomId) {
			APIswitchLight(roomId).then( result => { this.rooms = result.data });
		},
		switchLightAndPublish: function (room) {
			this.switchLight(room.id); 
			publishSwitch("light", room.id, room.light.status);
		},
		switchNoise: function (roomId) {
			APIswitchNoise(roomId).then( result => { this.rooms = result.data });
		},
		switchNoiseAndPublish: function (room) {
			this.switchNoise(room.id);
			publishSwitch("noise", room.id, room.light.status);
		},
		getAllRooms: function(){
			APIgetAllRooms().then(result => {this.rooms = result.data});
		},
		getSomeRooms: function(buildingId){
			if (buildingId == "all") {app.getAllRooms();}
			else {APIgetRooms(buildingId).then(result => {this.rooms = result.data.rooms});}
		}
	}

})

window.setInterval(function(){
	if (app.buildingSelected == ''){ app.getAllRooms();}
	else {app.getSomeRooms(app.buildingSelected);}
}, 5000);
  
</script>

</body>
</html>